<h1>GoJS / Angular</h1>
<div class="row h-100">
  <div class="w-100 position-relative" [style.height.px]="400">
    Diagram {{chartDiv}} 
    <div [id]="chartDiv" [style.height.%]="100" class="position-relative w-100 h-100"></div>
  </div>

  <ng-container>
    <ng-container *ngTemplateOutlet="flowControls"></ng-container>
  </ng-container>

</div>

<ng-template #flowControls>
  <div class="d-flex justify-content-center align-items-center mb-1">
    <div class="mx-2">
      <button class="" type="button" id="playData" #playDataDiv (click)="playData()">
        <i class="fas fa-play"></i>
      </button>
      <button class="" type="button" id="pauseData" #pauseDataDiv (click)="pauseData()">
        <i class="fas fa-pause"></i>
      </button>
      <button class="" type="button" id="stopData" #stopDataDiv (click)="stopData()">
        <i class="fas fa-stop"></i>
      </button>
    </div>
  </div>
</ng-template>